@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 30px;
}

/* h8 {
    height:20px; 
    width:100px; 
    margin: -50px -50px; 
    position: inherit;
    top:-50%; 
    left:50%;
} */

.chekmiproducto  {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.product-card {
    margin-bottom: 20px;
}

.product-card img {
    height: 160px;
    object-fit: cover;
}

.product-card h4 {
    font-size: 1.2rem;
}
