@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: #fdfffd;
}

h1 {
    margin-bottom: 30px;
}

.profileCard {
    align-items: center;
    font-weight: 800;
    border-color: #c4f5cd;
    background-color: #d9f8de;
    box-shadow: 0px 0px 15px 0px #3d6844 ;
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 20px;
}


.chekmiproducto  {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.product-card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 0px 30px 0px 0px;
    box-shadow: 0px 0px 15px 0px #3d6844 ;
   
}

.product-card img {
    padding: 5px 5px 0px 5px;
    border-radius: 0px 30px 0px 0px;
    height: 200px;
    width: 100%;
    object-fit: cover;
}


.product-card h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.cardlistbody {
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.addcartbutton {
    margin-top: 10px;
    font-weight: 600;
    color:#ffffff;
}

.cartbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 50%;
}

.profilecartbutton {
   
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    
}

.searchbar {
   display: flex;
   flex-direction: row;
   justify-content: center
}

.category {
    background-color: white;
    transition-duration: 2s;
    border: none;
 }

 .category:hover {
    background-color: #38be51; 
    color: white;
    font-weight: 600;

  }



  p {
      margin: 0; 
  }

  tbody {
      text-align: center;
  }

  thead {
    text-align: center;
  }

  .pagination {
    justify-content: center;
  }

  .page-link {
    color:#22ac3b;
    font-weight: 900;
    font-size: small;
  }

 

  @media (max-width: 900px)  {
    .cartbuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
    }

  }